body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
}

/* HOME PAGE */
.enroll-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0006b1;
  height: 50px;
}

.enroll-container a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.enroll-container #click-here {
  margin-left: 5px;
}

.hero-section {
  /* background: #e9e9f1; */
  padding: 90px 0px 70px 0px;
  background-color: #f5f5f5;
  /* background-image: url('../../images/background-image.png');
  background-repeat: no-repeat;
  background-size: cover; */
}

.hero-section .hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

.hero-section .left {
  width: 45%;
  padding-right: 40px;
}

.hero-section .left .before-title {
  display: flex;
  align-items: center;
}

.hero-section .left .before-title svg {
  width: 25px;
  margin-right: 10px;
  font-weight: 600;
}

.hero-section .left .before-title p {
  font-size: 14px;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #05002d;
}

.hero-section .left .title {
  margin: 20px 0px 10px 0px;
}

.hero-section .left h1 {
  font-size: 45px;
  font-weight: 800;
  /* line-height: 58px; */
  color: #05002d;
  margin: 0px 0px 20px 0px;
  line-height: 53px;
  transition: opacity 0.5s;
}

.hero-section .left .typing-text {
  /* color: #05002d;  */
  color: #ffbf00;
  /* background-image: linear-gradient(45deg, #05002d, #FFBF00 100%);  */
  /* background-image: linear-gradient(45deg, #281870 ,#0092E7 100%);  */
  /* background-clip: text; 
     -webkit-background-clip: text; 
     -webkit-text-fill-color: transparent; */
  display: inline-block;
  height: 52px;
  border-right: 2px solid #ffbf00; /* Optional blinking caret */
  white-space: nowrap;
  overflow: hidden;
}

.hero-section .left .title p {
  font-size: 14px;
  color: black;
  line-height: 23px;
  margin-bottom: 25px;
  padding-right: 20px;
}

.hero-section .buttons {
  display: flex;
  gap: 15px;
}

.hero-section .btn {
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
}

.hero-section .btn.primary {
  /* background:#28186C; */
  background-color: black;
  color: #fff;
}

.hero-section .btn:hover {
  transform: scale(1.03);
}

.hero-section .right {
  width: 50%;
  /* min-width: 300px; */
  /* text-align: center; */
}

.hero-section .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
  grid-auto-rows: 150px;
}

.hero-section .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  pointer-events: none;
}

.hero-section .grid-container #grid-item1 {
  grid-area: 1/ 1/ 2/ 3;
}

.hero-section .grid-container #grid-item2 {
  grid-area: 1/ 3/ 3/ 5;
}

.hero-section .grid-container #grid-item3 {
  grid-area: 2/ 1/ 3/ 2;
}

.hero-section .grid-container #grid-item4 {
  grid-area: 2/ 2/ 3/ 3;
}

.hero-section .grid-container #grid-item6 {
  grid-area: 3/ 1/ 4/ 4;
}

/* ARE YOU READY FOR THE FUTURE SECTION */
.future-section {
  margin: 90px 0px 70px 0px;
}
.future-section .future-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.future-section .future-section-container .future-image {
  width: 50%;
  padding-right: 70px;
}

.future-section .future-section-container img {
  width: 100%;
  border-radius: 20px;
  /* margin-right: 50px; */
}

.future-section-container .future-content {
  width: 50%;
}

.future-section-container .future-content h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}

.future-section-container .future-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.programmes-section {
  padding: 70px 0px;
  background-color: #05002d;
  background-image: url("../../images/background-image2.jpg");
  background-size: cover;
}

.programmes-section .programmes-title {
  text-align: center;
  margin-bottom: 50px;
}

.programmes-section .programmes-title h2 {
  font-size: 38px;
  color: white;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
}

.programmes-section .programmes-title p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #f9f9f9;
  max-width: 600px;
  margin: 0px auto;
}

.programme-section {
  text-align: center;
  /* padding: 2rem; */
}

.programmes-section .tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.programmes-section .tab {
  padding: 10px 20px;
  /* border: 1px solid #ddd; */
  border: none;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.programmes-section .tab.active {
  background-color: #563acc;
  color: white;
  font-weight: bold;
}

.programmes-section .courses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  gap: 30px;
  width: 80%;
  margin: 0px auto;
}

.programmes-section .course-card {
  border: 1px solid #eee;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  text-align: left;
}

.programmes-section .course-image {
  position: relative;
}

.programmes-section .course-image img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
}

.programmes-section .badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #f5b800;
  color: white;
  font-size: 12px;
  font-weight: 600;
  text-shadow: #05002d;
  padding: 4px 10px;
  border-radius: 20px;
}

.programmes-section .course-card h3 {
  font-size: 18px;
}

.programmes-section .course-card p {
  font-size: 13px;
  line-height: 22px;
}

.programmes-section .learn-more-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: grey;
  background-color: transparent;
  border: none;
  padding: 10px 0px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  overflow: hidden;
}

.programmes-section .learn-more-btn::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%) scale(1);
  width: 35px;
  height: 35px;
  background: rgba(0, 26, 255, 0.4);
  border-radius: 50%;
  transition: transform 0.3s ease;
  z-index: 0;
}

.programmes-section .learn-more-btn:hover::before {
  transform: translateY(-50%) scale(0);
}

.programmes-section .learn-more-btn {
  position: relative;
  z-index: 1;
}

.aboutus-section {
  margin: 70px 0px;
  
}

.aboutus-section .aboutus-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.aboutus-section .aboutus-container .aboutus-content {
  width: 50%;
}

.aboutus-section .aboutus-container .aboutus-image {
  width: 50%;
  padding-left: 70px;
}

.aboutus-section .aboutus-container .aboutus-image img {
  width: 100%;
  border-radius: 20px;
  filter:contrast(0.9) brightness(0.9);
  transition: filter 0.3s ease;
}

.aboutus-container .aboutus-content h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}

.aboutus-container .aboutus-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.whychoose-section {
  padding: 80px 0px 0px 0px;
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* background-image: url("../../public/images/grid-img6.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url("../../images/grid-img6.jpg") rgba(0, 0, 14, 0.8);
  background-blend-mode: multiply;
}


/* .whychoose-section  .whychoose-first-container {
  
} */

.whychoose-section .whychoose-first-container h3 {
  font-size: 30px;
  color: white;
  font-weight: 700;
  margin: 0px 0px 10px 0px;
  max-width: 600px;
  text-align: center;
  
}

.whychoose-section .whychoose-first-container p {
   font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0px;;
  color: #f9f9f9;
  max-width: 600px;
  text-align: center;
  
}

.whychoose-section .whychoose-second-container {
  width: 85%;
  /* margin: -250px auto 0px auto; */
  background-color:#f9f9f9;
  /* position: relative;
  bottom: 550px; */
  padding: 30px 25px;
  border-radius: 20px;
  margin-top: 50px;
}

.whychoose-section .whychoose-second-container .whychoose-second-container-title {
  text-align: center;
  margin: 0px auto;
}

.whychoose-section .whychoose-second-container .whychoose-second-container-title h3 {
  margin-bottom: 0px;
  font-size: 35px;
}

.whychoose-section .whychoose-second-container .whychoose-second-container-title p {
  margin-top: 10px;
  font-size: 14px;
}


.whychoose-section .whychoose-second-container .whychoose-grid {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.whychoose-section .whychoose-second-container .whychoose-card {
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  height: 250px;
}

.whychoose-section .whychoose-second-container #whychoose-card-blue{
  background-image: url("/images/why-choose-blue.png");
  background-size: cover;
}

.whychoose-section .whychoose-second-container #whychoose-card-blue svg {
  padding: 5px;
  background-color: #c3d4ff;
  border-radius: 50%;
}

.whychoose-section .whychoose-second-container #whychoose-card-yellow{
 background-color: #ffebad;
}

.whychoose-section .whychoose-second-container #whychoose-card-yellow svg {
  padding: 5px;
  background-color:#ffdb6e;
  border-radius: 50%;
}

.whychoose-section .whychoose-second-container #whychoose-card-purple{
  background-image: url("/images/why-choose-purple.png");
  background-size: cover;
  background-position: center;
}

.whychoose-section .whychoose-second-container #whychoose-card-purple svg {
  padding: 5px;
  background-color: #d1c8ff;
  border-radius: 50%;
}

.whychoose-section .whychoose-second-container .whychoose-card h4 {
  font-weight: 500;
  font-size: 17px;
  color: black;

}

.whychoose-section .whychoose-second-container .whychoose-card p{
  font-weight: 400;
  font-size: 14px;
  color: rgb(65, 65, 65);
  line-height: 21px;
}


.opportunities-section {
  margin: 190px 0px 70px 0px;
}

.opportunities-section .opportunities-title {
  text-align: center;
}

.opportunities-section .opportunities-title h3{
  font-size: 35px;
  margin-bottom: 0px;
}

.opportunities-section .opportunities-title p{
  font-size: 14px;
  margin-top: 15px;
  max-width: 600px;
  margin: 0px auto;
  line-height: 22px;

}

.opportunities-section .opportunities-grid {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 50px auto 0px auto;
  
}

.opportunities-section .opportunities-grid .opportunities-content {
  /* padding-left: 70px; */
  width: 50%;
}

.opportunities-section .opportunities-grid .opportunities-image{
  width: 50%;
  
}

.opportunities-section .opportunities-grid .opportunities-image img{
  width: 500px;
  border-radius: 20px;
  filter: contrast(1.1) brightness(0.9);
}

.opportunities-section .opportunities-grid .opportunities-grid-items {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  padding: 20px 0px;
}

.opportunities-section .opportunities-grid .opportunities-grid-icon {
  margin-right: 15px;
}

.opportunities-section .opportunities-grid .opportunities-grid-icon svg {
  padding: 30px;
  background-color: #0093E5;
  border-radius: 20px;
  width: 50px;
  height: 50px;
}

.opportunities-section .opportunities-grid .opportunities-grid-content h6{
  font-size: 25px;
  margin: 0px;
}

.opportunities-section .opportunities-grid .opportunities-grid-content p{
  font-size: 14px;
  line-height: 21px;
  margin: 0px;
}

.counter-section {
  /* background-image: url('../../images/background-image3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url("../../images/grid-img4.jpg") rgba(0, 17, 28, 0.8);
  background-blend-mode: multiply;
  padding: 50px 0px;
  height: 40vh;
  display: flex;
  align-items: center;
}


.counter-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

.counter-box {
  /* background-color: #F7F7F7; */
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.counter-box span {
  font-size: 50px;
  font-weight: bold;
}



.counter-box h3 {
  font-size: 60px;
  margin: 0px 0px 30px 0px;
}

.counter-box span {
  font-size: 60px;
  margin-left: -12px;
  color:#f5b800;
}
.counter-box p {
  font-weight: 600;
  margin-top: 10px;
  font-size: 12px;
  color:#f5f5f5;
}



.testimonial-section {
  text-align: center;
  padding: 40px 20px;
}

.testimonial-wrapper {
  display: flex;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  width: 80%;
  margin: 0px auto;
  gap: 30px;
  align-items: center;
}

.testimonial-section .testimonial-title {
  margin: 20px 0px 50px 0px;
  
}

.testimonial-section .testimonial-title h2 {
  font-size: 35px;
  margin-bottom: 0px;
}

.testimonial-section .testimonial-title p{
  font-size: 14px;
  max-width: 500px;
  margin: 0px auto;
  line-height: 21px;
}

.testimonial-section .highlight {
  color:#f5b800;
}

.testimonial-image {
  width: 50%;
}

.testimonial-image img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}

.testimonial-content {
  /* max-width: 500px; */
  text-align: left;
  width: 50%
}

.avatars-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.avatar.active {
  opacity: 1;
  border: 2px solid #f5b800;
}

.quote {
  /* font-style: italic; */
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 22px;
}

.author strong {
  font-weight: bold;
}

.author p {
  font-size: 15px;
}

.arrows button {
  background: #eee;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.arrows #next {
  margin-left: 15px;
}


/* Slack Floating Button */
.slack-button {
  position: fixed;
  bottom: 80px;
  right: 20px;
  /* border-radius: 50%; */
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  z-index: 1000;
}

.slack-button img {
  width: 50px; 
  height: auto;
  cursor: pointer;
}

/* Scroll to Top Button */
.scroll-top-button {
  position: fixed;
  bottom: 20px; /* Above WhatsApp button */
  right: 20px;
  background-color: #000;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  z-index: 1000;
}



